.logo{
    display: inline-block;
    margin-right: 50px;
}
.navigation{
    display: inline-block;
}
.nav-li{
    display: inline-block;
    margin-left: 15px;
}
.header-wraper{
    background-color: pink;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.body{
    height: 1800px;
    /* padding-top: 760px; */
}
.sect{
    margin-top: 76px;  
}
.wrapper{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    transition: all 2s linear 2s;
}
.chiled-box{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: all 1s linear;
}
/* hover effects */
.wrapper:hover{
    background-color: green;
}
.chiled-box:hover{
    width: 100px;
    transform: rotate(0deg) translate(-50%,-50%);
}


/* keyframe Animation */
.animation-box{
    position: relative;
    max-width: 1000px;
    width: 100%;
}
.wrapper-2{
    width: 500px;
    height: 500px;
    /* ვერ დავარეგულირე */
    transition: all 2s linear 2s;
}
.animation{
    height: 100px;
    animation: my-animation 5s infinite;
    position: absolute;
}
@keyframes my-animation{
    0% {left: 0px; top: 300px; transform: rotate(0deg);}
    20% {left: 100px; top: 200px; transform: rotate(60deg);}
    40% {left: 300px; top: 100px; transform: rotate(120deg);}
    50% {left: 400px; top: 50px; transform: rotate(180deg);}
    60% {left: 500px; top: 100px; transform: rotate(240deg);}
    80% {left: 700px; top: 200px; transform: rotate(300deg);}
    100% {left: 800px; top: 300px; transform: rotate(360deg);}
}